*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:sans-serif
}
.Main-container{
  height: 300vh;
  display:flex;
  justify-content:center;
  align-items: flex-start;
}

.First-cont{
  /* background-color: rgb(149, 100, 100); */
  height: 105vh;
  width:20%;
  border: 1px solid rgb(179, 176, 176);
}
.Second-cont{
  height: 300vh;
  width:80%;
}

.stories{
  border: 1px solid rgb(179, 176, 176);
  width: 100%;
  height: 20vh;
  background-color: white;
  border-radius:10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding:10px 10px;
}
.postone ,.psttwo ,.postthree ,.postfour{
  border: 1px solid rgb(179, 176, 176);
  width: 100%;
  height: 133vh;
  background-color: white;
  border-radius:10px;
  margin-top: 20px;
}
.main-one{
  height: 100vh;
  width:80%;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.one{
  width:50%;
  height: 300vh;
}
.two{
  width:50%;
  height: 100vh;
  padding: 40px 20px;
}
.storyone ,.storytwo, .storythree ,.storyfour ,.storyfive, .storysix{
  text-align: center;
 
}
.jaddyimg{
  width:50px;
  height: 50px;
  border-radius: 50px;
  border: 2px double gold;
}
.jaddyimgs{
  width:50px;
  height: 50px;
  border-radius: 50px;
}
.head{
  height: 60px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 20px;
  border: none;
}
.dotimg{
  width: 10%;
}
.jotext{
  margin-right: 120px;
  color: rgb(45, 41, 41) ;
  font-weight: bold;
}
.jalamiaimg{
  width:100%;
  /* height: 40vh; */
}
.instaimg{
  width:100%;
}
.footer{
  height: 60px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 95%;
  margin:auto;
}
.loveimg{
  width:8%;
}
.loveimgs{
  width:5%;
}
.sub-footer{
  padding: 10px 10px;
  height: 15vh;
}
.jo{
  margin-top:10px;
  font-size: small;
}
.faint{
  margin-top:10px;
  font-weight:lighter
}
.last-footer{
  border: 1px solid rgb(179, 176, 176);
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 5px 10px;
  height: 10vh;
  
  border-radius:0 0 10px 10px;
}
.smileyimg{
  width:5%;
}
.comm{
  margin-right: 180px;
  font-weight: lighter;
}
.blue{
  color: blue;
}
.insta-logo{
  width:50%;
 
}
.First-cont{
  padding: 40px 30px;
}
.home{
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* width: 40%; */
}
.homeimg{
  width:10%;
}
.hme{
  margin-right: 100px;
}
.hmes{
  margin-right: 95px;
}
.hmess{
  margin-right: 90px;
}
.hmessone{
  margin-right: 80px;
}
.hmessones{
  margin-right: 60px;
}
.create{
  margin-right: 100px;
}
.more{
  margin-right: 110px;
}


.homes{
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* width: 80%; */
  margin-top: 40px;
}
.two-one{
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* padding: 10px 20px; */
  width: 80%;
}
.twoone{
margin-right: 50px;
}
.homeimgi{
  width:15%;
  border-radius: 50px;
}
.homeimgin{
  width:15%;
  border-radius: 50px;
}
.faints{
  margin-top:5px;
  font-weight:lighter;
  color:grey;
}
.joj{
  color:grey;
}
.two-two{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 80%;
  margin-top: 20px;
}
.see{
  font-weight: lighter;
}
.two-three ,.two-four,.two-five,.two-six,.two-seven{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 80%;
  margin-top: 10px;
}
.two-seven{
  margin-top: 50px;
}
ul{
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size: x-small;
  gap: 5px;
  list-style: none;
  color: grey;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lang{
  color: grey;
  margin-top: 5px;
  font-weight: lighter;
}
.meta{
  color: grey;
  margin-top: 30px;
  font-weight: lighter;
}